#on suit les liens symboliques
Options +FollowSymLinks
#Activation du mode rewrite d'apache

RewriteEngine On
RewriteRule ^(home)$ index.php?action=$1 [L,QSA]
RewriteRule ^(contact)$ index.php?action=$1 [L,QSA]