#map { 
    height: 580px;
width: 1000px;
 }

 #data{
    background: rgba(255,255,255, 0.8);
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 10000000000;
    padding: 3px 5px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0, .3);
    font-size: .9em;
  }
  #recenter{
    text-decoration: underline;
    color: #006;
    cursor: pointer;
  }