
/*fonts*/
@font-face{
  font-family: "RobotoBlack";
  src: url("../fonts/Roboto-Black.ttf") format("opentype")
}

@font-face{
  font-family: "RobotoBlackItalic";
  src: url("../fonts/Roboto-BlackItalic.ttf") format("opentype")
}

@font-face{
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf") format("opentype")
}

@font-face{
  font-family: "RobotoBoldIt";
  src: url("../fonts/Roboto-BoldItalic.ttf") format("opentype")
}

@font-face{
  font-family: "RobotoReg";
  src: url("../fonts/Roboto-Regular.ttf") format("opentype")
}

@font-face{
  font-family: "RobotoItalic";
  src: url("../fonts/Roboto-Italic.ttf") format("opentype")
}
@font-face{
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.ttf") format("opentype")
}
@font-face{
  font-family: "RobotoLightIt";
  src: url("../fonts/Roboto-LightItalic.ttf") format("opentype")
}
@font-face{
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto-Medium.ttf") format("opentype")
}
@font-face{
  font-family: "RobotoMediumItalic";
  src: url("../fonts/Roboto-MediumItalic.ttf") format("opentype")
}
@font-face{
  font-family: "RobotoThin";
  src: url("../fonts/Roboto-Thin.ttf") format("opentype")
}

@font-face{
  font-family: "RobotoThinIt";
  src: url("../fonts/Roboto-ThinItalic.ttf") format("opentype")
}

/* general rules*/
html{
  height: 100vw;
}
body{
  margin: 0;
  font-family: "RobotoReg"
}

/* header */

header{
  width: 100%;
  height:8vh;
  display: flex;
  
  z-index: 400000000;
  /*box-shadow: 0 6px 6px rgba(0,0,0,0.23),0 10px 15px rgba(0,0,0,0.19);*/
}

.marginHeader{
  width:80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  
}
.slogan{
  color: orange;
  font-size: 12px;
  margin: 0;
  font-family: "RobotoItalic"
}
/* map display */
.heightMain{
  height:86vh;
  width: 100vw;
  
}
#map { 
  height: 86vh;
  width: 100vw;
  position: relative;
}

#data{
  background: rgba(255,255,255, 0.8);
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 10000000000;
  padding: 3px 5px;
  border: 1px solid rgba(0,0,0, .3);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0, .3);
  font-size: .9em;
}

#recenter{
  text-decoration: underline;
  color: #006;
  cursor: pointer;
}

.leaflet-control-zoom-out, .leaflet-control-zoom-in{
  background: black;
  border:none;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: none;
    background-clip: padding-box;
    background-color: black;
    opacity: 0.7;
}
.leaflet-control-attribution {
  display: none;
}
/* Navbar */

nav{
  width: 100%;
  height: 7vh;
  margin: auto;
 
  position:absolute;
  box-shadow: 0 6px 6px rgba(0,0,0,0.23),0 10px 20px rgba(0,0,0,0.19);
}
.linkNav{
  width : 80%;
  display:flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.hauteur{ /*height du footer de la page contact" */
  height: 33px;
}
.searchNav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.usNav{
  border-left: 1px solid rgba(0, 0, 0, 0.356);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.navLink{
  font-size: 12px;
  margin: 6px;
  display: block;
}
nav a{
  text-decoration: none;
  font-size: 12px;
  color: black;
}
/* clicked lieu */

#click-tournage{
  height: auto;
  width: 100vw;
  position: absolute;
  bottom:0;
  z-index: 40000000;
  background-color: white;
  padding : 3px;
  font-size: 10px;
  color: rgb(105, 101, 101);
  /* text-transform: lowercase; */
}



  h2{
    text-align: left;
    font-size: 18px;
    font-family: verdana, serif;
    margin-left: auto;
    
  }
  #kisomnou{
    width: 350px;
    margin-left: 15px;
  }
  #bonjour{
    width: 350px;
    margin-left: 30px;
  }

  #formulaire{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .loupe{
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  textarea{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    color: rgb(201, 28, 94);
    padding-top: 3px;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(116, 110, 110);
   
  }
  #cestparti{ /* bouton c'est parti */
    padding: 5px 8px;
    background-color: #54afdd;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    width : 200px;
    margin-left: 60px;
  }
  #recherche{/* bouton recherche */
    padding: 5px 8px;
    background-color: #54afdd;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    margin-left: 130px;
    margin-top: 5px;
    
  }
  #checkbox{ /* div qui contient checkbox1 et checkbox2 */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    
  }
  #checkbox1{ /* liste checkbox de 1 à a0 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

  }
  #checkbox2{ /* liste de checkbox de 11 à 20 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  h3{ /* les h3 */
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  label{
    font-size: 15px;
    
  }
  select{ /* menu select */
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #54afdd;
    background-color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  input[type="checkbox"] + label::before{ /* mise en forme de la checkbox */
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    background:#54afdd;
    
    
}
input[type="checkbox"]:checked + label::before{ /*checkbox checked */
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  background:rgb(201, 28, 94);

  
}
input[type="checkbox"] {
  visibility: hidden; /*pour cacher la checkbox*/
}
#exit{ /* la croix de la div Filtres */
  background:white;
  border-radius:10px;
  color:black;
  font-size: 30px;
  margin-left: 10px;
  border:none;
}
#mail{
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: rgb(201, 28, 94);
  width: 300px;
  border: none;
  border-bottom: 1px solid rgb(116, 110, 110);
}
::placeholder {
  color: #54afdd;
  font-size: 10px;
}
p{
  display: flex;
  flex-direction: column;
   
}
#bonjour{
  margin-left: 10px;
}
span{
  margin-left: 5px;
}
.initiallyHiddenBlock{ /* cacher la div filtres au départ */
  display: none;
}
  
.logo2{
  width: 45px;
  height: 45px;
  padding: 5px 5px;
 
}
i{
  width: 30px;
  height: 30px;
  font-color:#54afdd; 
}
  
  

